//  Vendor

// Base
@import '../base/fonts';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

// Layout
@import '../layout/header';

// Abstracts
@import '../abstract/variables';
@import '../abstract/mixin';

// Pages
@import '../../../components/Home/homeScreen';
@import '../../../components/login/scss/account';
@import '../../../components/billing/scss/dashboard';
@import '../../../components/Notfound/notfound';
@import '../../../components/common/tables/scss/tables';


.voidBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0px;
  color: $voidBtn !important;
  text-transform: uppercase;
}

@import '../../../components/loader/loading';


.multi-select-cs-parent {
  position: relative;
}


.multi-select-cs {
  background-color: $white;
  border-radius: 10px;
  display: none;
  right: 0px;
  top: 18px;
  max-height: 300px;
  overflow: auto;
  position: absolute;
  border-color: $border2;
  padding: 10px 25px 10px 10px;
  border: solid 1px;
}

.multi-select-cs .check-Box {
  width: 38px;
  height: 20px;
}

.multi-select-cs .label {
  cursor: pointer;
  user-select: none;
}

.multi-select-cs .span-label {
  display: inline !important;
  font-size: 14px;
  position: relative;
  top: -4px;
  left: -3px;
}

.multi-select-cs ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.multi-select-cs ul li {
  float: left;
}

/* width */
.multi-select-cs::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.multi-select-cs::-webkit-scrollbar-track {
  background: $white2;
}

/* Handle */
.multi-select-cs::-webkit-scrollbar-thumb {
  background: $grey4;
}

/* Handle on hover */
.multi-select-cs::-webkit-scrollbar-thumb:hover {
  background: $grey5;
}

// .cardType__1:hover {
//   background-color: white !important;
// }

// .cardType__1:hover .cardType__name {
//   color: #1A73E8 !important;
// }

// .cardType__1:hover .cardType__Number {
//   color: #344857 !important;
// }

// .cardType__1:hover .cardType__icon {
//   color: #344857 !important;
// }

