//  Vendor

// Base
@import '../base/fonts';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

// Layout
@import '../layout/header';

// Abstracts
@import '../abstract/variables';
@import '../abstract/mixin';

// Pages
@import '../../../components/Home/homeScreen';
@import '../../../components/login/scss/account';
@import '../../../components/billing/scss/dashboard';
@import '../../../components/Notfound/notfound';


.voidBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #7b7b7b !important;
    text-transform: uppercase;
  }
@import '../../../components/loader/loading';
