// Font Family Variables
$font-Ubuntu: 'Ubuntu', sans-serif;

// Color Variables
$black: #000000;
$gray: #00000029;
$white: #ffffff;
$orange: #f57c52;
$red: #d63548;
$pink: #da291c33;
$gradient-1: transparent linear-gradient(297deg, #f57c52 0%, #d63548 100%) 0% 0%
  no-repeat padding-box;

// Font size variables
$xs-text: 0.75rem;
$sm-text: 14px;
$md-text: 1rem;
$lg-text: 36px;
$xl-text: 1.5rem;
$xxl-text: 2rem;
