.box-help-text {
  font-family: "poppins", sans-serif;
  text-align: center;
  display: block;
  padding: 15px;
  margin: auto;
  color: #9CA6AD;
  width: 80%;
}

.no-pointers {
  pointer-events: none;
}

.checkIcon {
  position: absolute;
  z-index: 9;
  right: 6%;
  top: 40%;
}

.checkIcon svg path {
  fill: green !important;
}

.buidfix1 {
  width: 112px !important;
  padding-left: 20px !important;
  background: transparent !important;
  color: white !important;
  height: 35px;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: bold !important;
}

.buildfix2 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  flex-basis: 480px !important;
  background: transparent linear-gradient(297deg, #F57C52 0%, #D63548 100%) 0% 0% no-repeat padding-box !important;
  transition: all 300ms 0ms ease-in !important;
  border-radius: 35px !important;
  color: #fff !important;
}

.buildfix3 {
  padding: 0 !important;
  padding-bottom: 12vh !important;
  justify-content: center !important;
}

.removeBorder .MuiInputBase-root:before {
  border-bottom: none !important;
}

.removeBorder {
  pointer-events: none;
}

.buildfix4 {
  background-color: unset !important;
  box-shadow: none !important;
}