// styles for search input placeholders
#sidebar-top > div > div > div.right__elementsItem.search__group > form > div > input::placeholder, #searchproducts-input > div > input::placeholder {
    font-family: 'ubuntu';
    font-size: 14px;
    letter-spacing: -0.56px;
  }

  // increase notification icon size
  #notification-badge {
    font-size: 25px;
  }

  // #link__text {
  //   display: none;
  // }

  #link__col-text {
    display: block;
  }

  .iconWithLink {

    &.flexElement {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &.blockElement {
      display: block;
    }
  }
