// give more space between icon and text
[aria-labelledby="basic-button"].css-6hp17o-MuiList-root-MuiMenu-list > li {
    justify-content: flex-start;
    gap: 6px;

    // change color of checkbox icon
    [data-testid="CheckBoxIcon"] {
        color: #D63548;
    }

    // remove border bottom from li's ::after
    .css-6hp17o-MuiList-root-MuiMenu-list > li::after {
        content: none;
    }
}